body {
  font-family: "Roboto";
}

.navigationMenu {
  display: flex;
  justify-content: space-between;
}

.navigationMenu > li {
  float: left;
  height: 150px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 150px;
}
.navigationLinkHome {
  width: 500px;
}

.navigationLinkLogo {
  width: 500px;
  border:solid;
}
.navigationLinkLogo > img{
  height: 80px;
  width: 80px;
  padding-top: 25px;
  border-radius: 20px;
}

.navigationLinkMenu {
  width: 500px;
}
.navigationLinkReservation {
  background-color: #8a7256;
  color: white;
  width: 200px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 72vh;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
footer> ol{
  padding: 0px 0px 0px 0px;
}
footer> ol> li {
  float: left;
  margin-left: 10px;
  list-style: none;
}
